<div class="modal" data-modal="true" id="book_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content max-w-[600px]">
            <div class="modal-header py-4 px-5">
                <h3 class="modal-title">Ma lecture</h3>
                <button type="button" class="btn btn-icon btn-sm" data-modal-close="#book_modal">
                    <i class="ki-duotone ki-cross fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </button>
            </div>
            <div class="modal-body p-0 pb-5">
                <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                     data-scrollable-offset="300px">
                    {{ form_start(form, {
                        'attr': {
                            'id': 'user-book-form',
                            'class': 'flex flex-col gap-5 p-5'
                        }
                    }) }}
                        <div class="flex flex-col gap-5">
                            {{ form_row(form.book) }}
                            {{ form_row(form.category) }}
                            {{ form_row(form.notes) }}
                            {{ form_row(form.rating) }}
                            
                            <div class="flex flex-col gap-1">
                                <label class="switch">
                                    {{ form_widget(form.isFinished) }}
                                    {{ form_label(form.isFinished) }}
                                </label>
                            </div>

                            <div class="flex">
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>